<!-- Loading Spinner
  Displayed while data is being fetched or processed.
  -->
<div *ngIf="loading" class="text-center py-4">
    <div class="spinner-border text-primary"></div>
</div>

<!-- Animal List -->
<div *ngIf="!loading" class="row mt-3">
   
     <!-- Animal Cards -->
    <div class="col-md-4 mb-3" *ngFor="let animal of animals">
        <div class="card p-3 shadow-sm"
            (click)="onCardClick(animal)">
            <h5>{{ animal.name || 'Unnamed' }}</h5>
            <p><strong>Type: </strong> {{ animal.animal_type }}</p>
            <p><strong>Breed: </strong> {{ animal.breed }}</p>
        </div>
    </div>
</div>